
name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Run tests
      run: |
        # Muda para o diretório de testes
        cd todo_project/todo_project/tests
        # Adiciona o diretório pai ao PYTHONPATH
        export PYTHONPATH=$(pwd):$PYTHONPATH
        python -m unittest discover -s tests

        python -m unittest discover -s tests/unit -p 'test_*.py'
