name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
        
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

  bandit_sast:
    name: Run Bandit for SAST
    runs-on: ubuntu-latest
    needs: test
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
        
      - name: Install Bandit
        run: |
          python -m pip install bandit
        
              - name: Run Bandit
                run: |
                  bandit -r ./todo_project/ -f json -o bandit_report.json
                  bandit -r ./todo_project/ -f html -o bandit_report.html
        
              - name: Check for vulnerabilities
                run: |
                  if grep -q '"issues": []' bandit_report.json; then
                    echo "No vulnerabilities found."
                  else
                    echo "Vulnerabilities found!"
                    exit 1
                  fi
        
              - name: Upload Bandit Reports
                uses: actions/upload-artifact@v3
                with:
                  name: bandit-reports
                  path: |
                    bandit_report.html
                    bandit_report.json